%p#notice= notice

%p
  %b Start Time:
  = format_datetime @entry.start_time

- if !@entry.end_time.nil?
  %p
    %b End Time:
    = @entry.end_time
%p
  %b Duration
  = @entry.duration_string

- if !@entry.note.blank?
  %p
    %b Note:
    = @entry.note
%p
  %b Score:
  = @entry.score

= link_to 'Home', user_path(@user)
\|  
= link_to 'Edit', edit_user_activity_entry_path(@user, @activity, @entry)
\|
= link_to 'Destroy', [@user, @activity, @entry], :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Back to Activity', user_activity_path(@user, @activity)
