%p
  Project summary for
  = "#{from_date} through #{through_date}"
  
- @user.projects.each do |p|
  = p.name
  %ul
    - p.goals.each do |g|
      %li
        = g.name
        %br
        %b
          = "Score: #{g.current_score(g.entries(from_date, through_date))}"
        %br
        %b
          = "Duration: #{g.current_duration_string(g.entries(from_date, through_date))}"
        %ul
          - g.tracked_activities.each do |a|
            %li
              = a.description
            - unless a.entries.for_dates(from_date, through_date).empty?
              = render :partial => 'entries/list_entries', :locals=>{:entries=>a.entries.for_dates(from_date, through_date)}
              