.digest
  - unless @user.projects.blank?
    #project_summary
      %p
        Project summary for
        = "#{from_date} through #{through_date}"
      
      = render :partial => "project_digest", :locals=>{:projects=>@user.projects.started, :from_date=>from_date, :through_date=>through_date}
  
  - unless @user.goals.non_project.blank?
    #goal_summary  
      %p
        Goals summary for
        = "#{from_date} through #{through_date}"
      
      = render :partial => "goal_digest", :locals=>{:goals=>@user.goals.non_project, :from_date=>from_date, :through_date=>through_date}