%p#notice= notice

%p
  %b
    = "#{@user.name} (#{@user.email})"

%p
  Summary for 
  = format_date @day
  (link to Change Date)
        
%p
  Score for today:
  = @user.day_score

- if !@day_target.nil?
  %p
    Your target score for today is:
    = @day_target.score

  %p
    Based on your preferences and goals, this score accounts for the following:
  
  %ul
    - @day_target.target_activities.each do |a|
      %li
        = a.activity.description

- if !@day_entries.blank?
  = render :partial => 'entries/list_entries', :locals=>{:entries=>@day_entries}
    
- if !@activities.blank?
  %p
    Log activity entry for:
    
    %ul
      - @activities.each do |activity|
        %li
          = link_to "#{activity.description}", new_user_activity_entry_path(@user, activity)

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
\|
= link_to 'Show Activities', user_activities_path(@user)
\|
= link_to 'Add Activity', new_user_activity_path(@user)
\|
= link_to 'Goals', user_goals_path(@user)
\|
= link_to 'Projects', user_projects_path(@user)

