%p#notice= notice

%p
  %b
    = "#{@user.name} (#{@user.email})"

%p
  Summary for
  = format_date @day
  = link_to 'Change Date', change_date_user_path(@user)

%p
  Score for this week:
  = @user.score_for(session[:day])
  %br
  Score for
  = link_to "last week:", user_path(@user, :date_change=>{:date=>session[:day] - 1.week})
  = @user.score_for(session[:day], "last_week")
  - if session[:day].to_date != Date.today
    %br
    = link_to "Back to today", user_path(@user, :date_change=>{:date=>Date.today})
    
= render :partial => (true ? "digest" : "show_summary"), :locals => {:from_date=>@from_date, :through_date=>@through_date}
    
- if !@activities.blank?
  %p
    Log activity entry for:
    
    %ul
      - @activities.each do |activity|
        %li
          = link_to "#{activity.description}", new_user_activity_entry_path(@user, activity)

= link_to 'Activities', user_activities_path(@user)
\|
= link_to 'Individual Goals', user_goals_path(@user)
\|
= link_to 'Projects', user_projects_path(@user)
\|
= link_to 'Tags', user_tags_path(@user)
\|
= link_to 'Destroy User', @user, :confirm => 'Are you sure?', :method => :delete

