%p#notice= notice

%p
  %b
    = "#{@user.name} (#{@user.email})"

- if @user.projects.empty?
  %p= link_to "Start a new project", new_user_project_path(@user)
- else
  %p Projects
  = render :partial => 'projects/list_projects', :locals=>{:projects => @user.projects}
  
- if @user.goals.non_project.empty?
  %p= link_to "Create a personal goal", new_user_goal_path(@user)
- else
  %p Personal Goals
  = render :partial => "goals/list_goals", :locals=>{:goals=>@user.goals.non_project}

= link_to 'Individual Goals', user_goals_path(@user)
\|
= link_to 'Projects', user_projects_path(@user)
\|
= link_to 'Tags', user_tags_path(@user)