= form_for [@user, @project] do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Project Name: "
    = f.text_field :name
  .field
    = f.label "Starting:"
    %br
    = radio_button_tag :starting, :pending, @project.started_on.blank?
    Not yet
    %br
    = radio_button_tag :starting, :set_date, !@project.started_on.blank?
    = f.date_select :started_on, {}, :class=>"span1"
  - unless @project.started_on.blank?  
    .field
      = f.label :target_completion_date
      = f.date_select :target_completion_date, {}, :class=>"span1"
  .actions
    = f.submit 'Save'
