%h1 Listing projects

%table
  %tr
    %th Name
    %th Target completion date
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= format_datetime project.target_completion_date
      %td= link_to 'Show', [@user, project]
      %td= link_to 'Edit', edit_user_project_path(@user, project)
      %td= link_to 'Destroy', [@user, project], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project', new_user_project_path(@user)
\|
= link_to 'Back to User', @user
