%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Start time:
  = @project.start_time
%p
  %b Days:
  = @project.days
%p
  %b Hours:
  = @project.hours

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
