%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Target completion date:
  = @project.target_completion_date

= link_to 'Edit', edit_user_project_path(@user, @project)
\|
= link_to 'Back', user_projects_path(@user)
