%p#notice= notice

%p
  %b Project:
  = @project.name
  
/ %p
/   %b Started on:
/   - unless @project.started_on.blank?
/     = format_date(@project.started_on)
/   - else
/    Project pending
    
- unless @project.target_completion_date.blank?
  %p
    %b Target completion date:
    = format_date @project.target_completion_date
%p
  -if !@project.goals.completed.blank?
    Completed Objectives:
    = render :partial => "goals/list_goals", :locals=>{:goals=>@project.goals.completed}
%p
  -if !@project.goals.in_progress.blank?
    Objectives in progress:
    = render :partial => "goals/list_goals", :locals=>{:goals=>@project.goals.in_progress}
  -else
    Create a new
    = link_to 'objective.', new_user_project_goal_path(@user, @project)

%p
  Suggest objectives related to
  = link_to @project.name, [@user, @project]
    
- if @project.started_on.blank?
  = link_to 'Edit/Start Project', edit_user_project_path(@user, @project)
- else
  = link_to 'Edit', edit_user_project_path(@user, @project)
\|
= link_to 'Back', user_projects_path(@user)
- unless @project.started_on.blank?
  \|
  = link_to 'Add an objective', new_user_project_goal_path(@user, @project)
\|
= link_to 'Destroy', [@user, @project], :confirm => 'Are you sure?', :method => :delete