%p#notice= notice

%p
  %b Project:
  = @project.name
  
/ %p
/   %b Started on:
/   - unless @project.started_on.blank?
/     = format_date(@project.started_on)
/   - else
/    Project pending
    
- unless @project.target_completion_date.blank?
  %p
    %b Target completion date:
    = format_date @project.target_completion_date
-if !@project.goals.blank?
  Objectives:
  %ul
    - @project.goals.each do |g|
      %li
        = link_to g.name, user_goal_path(@user, g)

- if @project.started_on.blank?
  = link_to 'Edit/Start Project', edit_user_project_path(@user, @project)
- else
  = link_to 'Edit', edit_user_project_path(@user, @project)
\|
= link_to 'Back', user_projects_path(@user)
- unless @project.started_on.blank?
  \|
  = link_to 'Add an objective', new_user_project_goal_path(@user, @project)
\|
= link_to 'Destroy', [@user, @project], :confirm => 'Are you sure?', :method => :delete