= form_for [@user, @tag] do |f|
  -if @tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Name"
    = f.text_field :description
  .field
    = f.label "Score (optional, 1 = positive, -1 = not positive, 0 = neutral)"
    = f.select :classification, [[-1, -1],[0,0],[1,1]]
  .actions
    = f.submit 'Save'
