%h1 Listing tags

%table
  %tr
    %th Description
    %th Classification
    %th
    %th
    %th

  - @tags.each do |tag|
    %tr
      %td= tag.description
      %td= tag.classification
      %td= link_to 'Show', [@user, tag]
      %td= link_to 'Edit', edit_user_tag_path(@user, tag)
      %td= link_to 'Destroy', [@user, tag], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Tag', new_user_tag_path(@user)
\|
= link_to 'Back to User', user_path(@user)
