%p#notice= notice

%p
  %b Description:
  = @tag.description
%p
  %b Classification:
  = @tag.classification

= link_to 'Edit', edit_user_tag_path(@user, @tag)
\|
= link_to 'Back to Tags', user_tags_path(@user)
\|
= link_to 'Back to User', user_path(@user)
