= form_for [@user, @goal] do |f|
  -if @goal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@goal.errors.count, "error")} prohibited this goal from being saved:"
      %ul
        - @goal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
    = f.hidden_field :project_id
  .field
    = f.label "Additional notes:"
    = f.text_field :summary
  .field
    - if !@goal.project_id.blank?
      = f.label "Goal type: Project"
      = f.hidden_field :goal_type
    - else
      = f.label "Goal type: "
      = f.radio_button(:goal_type, "one-time")
      One-time
      = f.radio_button(:goal_type, "recurring")
      Recurring
    - if params[:set_date] == true  
      .field
        = f.label :target_completion_date
        = f.datetime_select :target_completion_date
  .field
    = f.label "Start tracking goal on:"
    = f.datepicker :started_on, :dateFormat => "mm/dd/yy"
  .field
    .recurring_fields
      = f.label "Set frequency for evaluating goal: "
      %br
      = radio_button_tag :goal_frequency, "daily"
      Daily
      %br
      = radio_button_tag :goal_frequency, "weekly"
      Weekly
      %br
      = radio_button_tag :goal_frequency, "bi-monthly"
      Bi-Monthly
      %br
      = radio_button_tag :goal_frequency, "monthly"
      Monthly
      %br
      = radio_button_tag :goal_frequency, "other"
      Every
      = f.text_field :goal_frequency, {:maxlength=>3, :size=>3}
      = select :frequency, :other_frequency_unit, [["days",1], ["weeks",2], ["months",3]]
  .field
    = f.label "Set goal by score or amount of time spent on activities"
    %p
    = radio_button_tag :goal_amount, :score, !@goal.goal_amount_score.blank?
    Score: 
    = f.text_field :goal_amount_score, {:maxlength=>3, :size=>3}
    %p
    = radio_button_tag :goal_amount, :duration, !@goal.goal_amount_duration.blank?
    Duration: 
    = f.text_field :goal_amount_duration, {:maxlength=>3, :size=>3}
    = f.select :goal_amount_unit, ["", "minutes", "hours", "days"]
  - if params[:completed] == "true"
    .field
      %p
        Goal completed
        = f.check_box :completed_ind
      .completed_on
        %p
          Completed on:
          = f.datepicker :completed_on, :dateFormat => "mm/dd/yy"
        
  .actions
    = f.submit 'Save'
    
:javascript
  $(function() {
      if($("#goal_goal_type_recurring").is(":checked")){
         $('.field .recurring_fields').show();   
           }else{
         $('.field .recurring_fields').hide();    
           }
      $("input[name='goal[goal_type]']").change(function(){
          if($("#goal_goal_type_recurring").is(":checked")){
             $('.field .recurring_fields').show();   
               }else{
             $('.field .recurring_fields').hide();    
               }
      });
      
      
      
      if($("#goal_completed_ind").is(":checked")){
         $('.field .completed_on').show();
           }else{
         $('.field .completed_on').hide();
           }
      $("input[name='goal[completed_ind]']").change(function(){
          if($("#goal_completed_ind").is(":checked")){
             $('.field .completed_on').show();
               }else{
             $('.field .completed_on').hide();
               }
      });
      
      
  });
    