= form_for @goal do |f|
  -if @goal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@goal.errors.count, "error")} prohibited this goal from being saved:"
      %ul
        - @goal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :target_completion_date
    = f.datetime_select :target_completion_date
  .actions
    = f.submit 'Save'
