%h1 Listing goals

%table
  %tr
    %th Name
    %th Target completion date
    %th Completed on
    %th
    %th
    %th

  - @goals.each do |goal|
    %tr
      %td= link_to goal.name, [@user, goal]
      %td{:align=>'center'}
        - if goal.goal_type == 'recurring'
          = goal.goal_type
        - else
          = goal.target_completion_date
      %td= format_datetime goal.goal_completed_at
      %td= link_to 'Edit', edit_user_goal_path(@user, goal)
      %td= link_to 'Destroy', [@user, goal], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Goal', new_user_goal_path(@user)
\|
= link_to 'Back to User', user_path(@user)
