%p#notice= notice

%p
  %b Name:
  = @goal.name

- if !@goal.summary.blank?
  %p
    %b Additional notes:
    = @goal.summary

%p
  %b Goal started on:
  = format_date(@goal.started_on || Date.today)

- if !@goal.target_completion_date.blank?
  %p
    %b Target completion date:
    = @goal.target_completion_date

%p
  %b Goal Type:
  = @goal.goal_type
- if @goal.goal_type == "recurring"
  %p
    Goal checked every
    = @goal.goal_frequency
    = @goal.goal_frequency_unit
- if @goal.goal_type == "project-based"
  Linked to:
  = link_to @goal.project.name, [@goal.user, @goal.project]

- if !@goal.goal_amount_score.blank?
  %p
    Goal Score:
    = @goal.goal_amount_score
  %p
    Current Score:
    = @goal.current_score
  - unless @goal.current_score >= @goal.goal_amount_score.to_i
    You need 
    = @goal.goal_amount_score.to_i - @goal.current_score
    point(s) to reach your goal.
  - else
    %h3
      Goal has been met!
    
- elsif !@goal.goal_amount_duration.blank?
  %p
    Goal Duration:
    = @goal.goal_amount_duration
    = @goal.goal_amount_unit

%p
  Currently tracking activities:
  - if @tracked_activities.empty?
    None. Create an 
    = link_to 'activity', new_user_activity_path(@user, :goal_id=>@goal.id)
    to link to your goal.
  %ul
    - @tracked_activities.each do |a|
      = link_to a.description, [a.user, a]
      %br
        = render :partial => 'entries/list_entries', :locals=>{:entries=>a.entries}

- if !@untracked_activities.blank?
  = form_for :activity, :url => user_goal_path(@user, @goal), :method => :put do |f|
    Track activity
    = collection_select :activity, :id, @untracked_activities, :id, :description
    
    = f.submit 'Track'

- if !@tracked_activities.blank?
  = form_for :activity, :url => user_goal_path(@user, @goal), :method => :put do |f|
    Un-track activity
    = hidden_field_tag :untrack, 'true'
    = collection_select :activity, :id, @tracked_activities, :id, :description
    
    = f.submit 'Un-track'

= link_to 'Home', user_path(@user)
\|
= link_to 'Edit', edit_user_goal_path(@user, @goal)
\|
= link_to 'Back to Goals', user_goals_path(@user)
-if !@goal.project.nil?
  \|
  = link_to 'Back to Project', user_project_path(@user, @goal.project)
\|
= link_to 'Add Activity', new_user_activity_path(@user, :goal_id=>@goal.id)
\|
= link_to 'Mark/Unmark Goal as Completed', edit_user_goal_path(@user, @goal, :completed=>true)
\|
= link_to 'Delete Goal', [@user, @goal], :confirm => 'Are you sure?', :method => :delete
