%p#notice= notice

%p
  %b Name:
  = @goal.name
%p
  %b Target completion date:
  = @goal.target_completion_date

- if !@activities.blank?
  %p
    Add goal entry for:
    
    %ul
      - @activities.each do |activity|
        %li
          = link_to "#{activity.description}", new_user_goal_activity_entry_path(@user, @goal, activity)

= link_to 'Edit', edit_user_goal_path(@user, @goal)
\|
= link_to 'Back', user_goals_path(@user)
