%p#notice= notice

%p
  %b Name:
  = @goal.name

- if !@goal.summary.blank?
  %p
    %b Summary:
    = @goal.summary

- if !@goal.target_completion_date.blank?
  %p
    %b Target completion date:
    = @goal.target_completion_date

%p
  %b Goal Type:
  = @goal.goal_type

%p
  Currently tracking activities:
  - @tracked_activities.each do |activity|
    %ul
      = activity.description
      = render :partial => 'entries/list_entries', :locals=>{:entries=>activity.entries}

= link_to 'Edit', edit_user_goal_path(@user, @goal)
\|
= link_to 'Back', user_goals_path(@user)
