%p#notice= notice

%p
  %b Name:
  = @goal.name

- if !@goal.summary.blank?
  %p
    %b Summary:
    = @goal.summary

- if !@goal.target_completion_date.blank?
  %p
    %b Target completion date:
    = @goal.target_completion_date

%p
  %b Goal Type:
  = @goal.goal_type

%p
  Currently tracking activities:
  %ul
    = render :partial => 'entries/list_entries', :locals=>{:entries=>@goal.entries}

- if !@untracked_activities.blank?
  = form_for :activity, :url => user_goal_path(@user, @goal), :method => :put do |f|
    Track activity
    = collection_select :activity, :id, @untracked_activities, :id, :description
    
    = f.submit 'Track'

- if !@tracked_activities.blank?
  = form_for :activity, :url => user_goal_path(@user, @goal), :method => :put do |f|
    Un-track activity
    = hidden_field_tag :untrack, 'true'
    = collection_select :activity, :id, @tracked_activities, :id, :description
    
    = f.submit 'Un-track'

= link_to 'Edit', edit_user_goal_path(@user, @goal)
\|
= link_to 'Back to Goals', user_goals_path(@user)
-if !@goal.project.nil?
  \|
  = link_to 'Back to Project', user_project_path(@user, @goal.project)

