%h1 Listing activities

%table
  %tr
    %th Description
    %th Priority
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.description
      %td= activity.priority
      %td= link_to 'Show', user_activity_path(@user, activity)
      %td= link_to 'Edit', edit_user_activity_path(@user, activity)
      %td= link_to 'Destroy', user_activity_path(@user, activity), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Activity', new_user_activity_path(@user)
\|
= link_to 'Back to User', user_path(@user)
