%p#notice= notice

%p
  %b Activity:
  = @activity.description
%p
  %b Activity score:
  = @activity.activity_score
  
- unless @components.blank?
  Activity Components
  = render :partial => 'components/list_components', :locals=>{:components=>@components}

- unless @activity.entries.blank?
  Recent Activity Entries
  = render :partial => 'entries/list_entries', :locals=>{:entries=>@activity.entries}

- unless @unapplied_tags.blank? 
  = form_for :tag, :url => user_activity_path(@user, @activity), :method => :put do |f|
    Add tag
    = collection_select :tag, :id, @unapplied_tags, :id, :description
    
    = f.submit 'Tag'
    
- unless @applied_tags.blank? 
  = form_for :tag, :url => user_activity_path(@user, @activity), :method => :put do |f|
    Remove tag
    = hidden_field_tag :untag, 'true'
    = collection_select :tag, :id, @applied_tags, :id, :description
    
    = f.submit 'UnTag'
%p
= link_to 'Home', user_path(@user)
\|
= link_to 'Edit', edit_user_activity_path(@user,@activity)
\|
= link_to 'Destroy', user_activity_path(@user, @activity), :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Activity List', user_activities_path(@user)
\|
= link_to 'Log Entry', new_user_activity_entry_path(@user, @activity)
\|
-if @activity.allows_components?
  = link_to 'Add Activity Component', new_user_activity_component_path(@user, @activity)
