%p#notice= notice

- unless @activity.goals_tracking_this_activity.blank?
  %b Goal(s):
  %ul
    - @activity.goals_tracking_this_activity.each do |g|
      %li
        = link_to g.name, [g.user, g]
%p
  %b Activity:
  = @activity.description
/ %p
/   %b Activity score:
/   = @activity.activity_score
  
- unless @components.blank?
  Activity Components
  = render :partial => 'components/list_components', :locals=>{:components=>@components}

- unless @activity.entries.blank?
  Recent Entries
  = render :partial => 'entries/list_entries', :locals=>{:entries=>@activity.entries}

- unless @activity.disable_entries
  %p
  = link_to 'Log Entry', new_user_activity_entry_path(@user, @activity)
Tags:
- @applied_tags.each do |tag|
  = link_to tag.description, [tag.user, tag]

%p
= link_to 'Home', user_path(@user)
\|
= link_to 'Edit', edit_user_activity_path(@user,@activity)
/\|
/= link_to 'Destroy', user_activity_path(@user, @activity), :confirm => 'Are you sure?', :method => :delete
/\|
/= link_to 'Activity List', user_activities_path(@user)
/\|
/= link_to 'Log Entry', new_user_activity_entry_path(@user, @activity)

-if @activity.allows_components?
  \|
  = link_to 'Add Activity Component', new_user_activity_component_path(@user, @activity)
