%p#notice= notice

%p
  %b Description:
  = @activity.description
%p
  %b Default score:
  = @activity.priority

= render :partial => 'entries/list_entries', :locals=>{:entries=>@activity.entries}

%p
= link_to 'Edit', edit_user_activity_path(@user,@activity)
\|
= link_to 'Back', user_activities_path(@user)
\|
= link_to 'Log Entry', new_user_activity_entry_path(@user, @activity)
