%p#notice= notice

%p
  %b Description:
  = @activity.description
%p
  %b Default score:
  = @activity.priority

- if !@activity.entries.empty?
  Recent activity entries logged:
  %li
    - @activity.entries.each do |e|
      = link_to e.start_time, user_activity_entry_path(@user, @activity, e)
      - if e.note
        = link_to e.note, user_activity_entry_path(@user, @activity, e)
      , Score:
      = e.score

%p
= link_to 'Edit', edit_user_activity_path(@user,@activity)
\|
= link_to 'Back', user_activities_path(@user)
\|
= link_to 'Log Entry', new_user_activity_entry_path(@user, @activity)
